.post {
    font-family: arial,helvetica,sans-serif;
    padding: 4em 0;
    &#Calculating_wheel_offsets {
        .content-three, .content-four, .content-one-example {
            background-color: #1e293b;
            padding: 1em;
            border-radius: 4px;
        }
    }
    .mid-pics-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        img {
            width: 15em;
            margin: 0.5em;
            cursor: pointer;
        }
    }
    &-header {
        display: flex;
        flex-direction: column;
    }
    &-title {
        color: #b294bb;
        font-weight: 700;
        font-size: 1em;
        margin-bottom: 0;
    }
    &-date {
        color: #c5c8c6;
        font-weight: bold;
        font-size: 0.8em;
        margin-top: 0;
    }
    &-content {
        color: #c5c8c6;
        p {
            line-height: 1.2;
            font-size: 0.95em;
        }
        table {
            th, td {
                border: 1px solid #44444d;
                padding: 0.5em;
                text-align: center;
            }
            tr {
                td:first-child {
                    font-weight: bold;
                }
            }
        }
        .table-source-text {
            margin-bottom: 0;
        }
        .table-source-link {
            font-size: 0.95em;
            color: #81a2be;
            &:hover {
                color: #5f89ac;
            }
        }
    }

    .animate {
        -webkit-transition: .15s ease-in-out;
        -moz-transition: .15s ease-in-out;
        -ms-transition: .15s ease-in-out;
        -o-transition: .15s ease-in-out;
        transition: .15s ease-in-out;
    }
    .lightbox-container {
        position: fixed;
        display: block;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: #000;
        background: rgba(0, 0, 0, .75);
        visibility: hidden;
        opacity: 0;
        visibility: hidden;
        opacity: 0;
        &.show{
            visibility: visible;
            opacity: 1;
            img {
                position: absolute;
                margin: auto;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                max-width: 90%;
                max-height: 90%;
            }
        }
    }
}
hr {
    border: 0;
    height: 1px;
    background: #44444d;
    margin: 0 auto;
    width: 35em;
}